# Binarios compilados
bin/
obj/
*.o

# Base de datos local
*.db

# Archivos de Code::Blocks generados automáticamente
*.depend
*.layout
*.cscope_file_list

# Archivos temporales de Glade
ui/#*#
ui/*~

# Archivos de sistema
.DS_Store
Thumbs.db
